table{
  border: 1px solid;
  border-collapse: collapse;
}
th {
  height: 60px;
  background-color: #99BDBC;
  color: black;
  border-bottom: 1px solid;
  padding: 4px;
}
td {
  border-bottom: 1px solid;
}
tr:hover {background-color: coral;}